
    /* css reset */
    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
      }
      body {
        font-family: Arial, sans-serif;
      }
      nav {
          width: 100%;
          position:fixed;
          z-index:1;
          background-color: #E8F8FF;;
          color: #224458;
          display: flex;
          font-weight: normal;
          align-items: center;
          justify-content:space-around;
        }
        nav .mainMenu {
        display: flex;
        list-style: none;
    }
    nav .mainMenu li a {
        font-weight:bold;
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: #224458;
        font-size: 18px;
        transition: 0.2s ease;
    }
    nav .mainMenu li a:hover {
        color: #E8F8FF;;
        background-color: #224458;
          
        }
        nav .openMenu {
            font-size: 2rem;
            margin: 20px;
            display: none;
            cursor: pointer;
        }
        nav .mainMenu .closeMenu,
        .icons i {
            font-size: 2rem;
            display: none;
            cursor: pointer;
        }
        .fa-facebook:hover {
            color: rgb(0, 110, 255);
        }
        .fa-twitter:hover {
            color: rgb(86, 154, 243);
        }
        .fa-instagram:hover {
            color: rgb(255, 0, 191);
        }
        .fa-github:hover {
            color: rgb(255, 123, 0);
        }
        nav .logo {
             cursor: pointer;
            } 

            @media (max-width: 800px) {
            nav .mainMenu {
                height: 100vh;
                position: fixed;
                top: 0px;
                right: 0px;
                color: #E8F8FF;;
            background-color: #224458;
            left: 0px;
            z-index: 10;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            transition: top 1s ease 0s;
            display: none;
        }
        nav .mainMenu .closeMenu {
            color: #E8F8FF;
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
        }
        nav .openMenu {
            display: block;
        }
        nav .mainMenu li a {
            color: #E8F8FF;
        }
        nav .mainMenu li a:hover {
            background: none;
            color: rgb(255, 123, 0);
        }
        .icons i {
            display: inline-block;
            padding: 12px;
        }
    }
    
    .h {
     
      background-color: #E8F8FF;
    }

    .box1 {
      background-color: #436477;
      padding: 30px;
      height: 300px;
      margin-bottom: 20px;
      
    }
    
    navigation bar 
     
    
    .btn2:hover{
      background-color: #224458 !important;
    }
    .icon-radio-item {
      border-left: 2px solid #66fcf1; 
      border-right: 2px solid #224458; 
      font-size: 23px;

      height: 50px;
      width: 50px;
      border-radius: 25px;
      text-align: center;
      padding-top: 5px;
      cursor: pointer;
      transform: rotate(47deg);
      transition: all .5s;
    }
    .icon-radio-item:hover {
      background-color:cyan;
      transform: translateY(-10px);
    }
     /* photo line section  */
    .rl{
      border-left: 6px solid cyan; 
      border-right: 6px solid #224458;      
      position: relative;
      border-radius: 90%;
    }
   
    /* My name section */
    .underline_text {
      
      font-size: 60px;
      position: relative;
      z-index: 100;
    }
    .underline_text::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background-color:#66fcf1;
      height: 20px;
      width: 86%;
      z-index: -1;
    }
    .box2 {
      background-color: #436477;
      padding: 30px;
      height: 120px;
      margin-top: 10px;
    }
    .form{
      padding-left: 10px;
      
      background-color: #436477;
      color: white;
    }
    .form::placeholder{
      color: white;
      font-size: 20px;
    }
    .form:focus{
      background-color: #224458;
      color: white;
      outline: none;
    }
    .form:focus::placeholder{
      transition: all 0.5s;
      font-size: 10px;
      position: relative;
      top:-10px;
    }
    .sub{
      padding-left: 10px;
      height: 50px;
      background-color: #436477;
    }
    .tex{
      padding-left: 10px;
      height: 150px;
      background-color: #436477;}
      /* footer section */
      .icon-radio-item1 {
        border-left: 2px solid #66fcf1; 
        border-right: 2px solid #224458; 
        font-size: 23px;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        text-align: center;
        padding-top: 5px;
        cursor: pointer;
        color: #66fcf1;
        transition: all .5s;
      }
      .icon-radio-item1:hover {
        background-color:white;
        transform: translateY(-10px);
      }
      /* progress bar */
      .bg-success{
        background-color: #66fcf1 !important;
      }
    